<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swip.cmu.edu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".activity.MainMenuActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".activity.ShowRiskActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:label="Modify Defaults"
            android:name=".activity.ModifyDefaultsActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Select An Application to Install"
            android:name=".activity.AppSelectActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Verify Permissions For This Application"
            android:name=".activity.ModifyPermissionsActivity" >
        </activity>
        <activity
            android:label="Permission Details"
            android:name=".activity.PermissionDetailsActivity" >
        </activity>
        <activity
            android:label="Confirm Install"
            android:name=".activity.CheckoutActivity" >
        </activity>
    </application>
</manifest>